<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to user_path(@book_user.id) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
            <td>
              <% if @book.user == current_user %>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %></td>
              <% end %>
            <td>
              <% if @book.user == current_user %>
              <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'æœ¬å½“ã«æ¶ˆã—ã¾ã™ã‹ï¼Ÿ' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"%></td>
              <% end %>
            <td id="favorite_buttons_<%= @book.id %>">
ã€€ã€€ã€€       <%= render "favorites/favorite", book: @book %>
ã€€ã€€        </td>
ã€€ã€€        <td>
ã€€ã€€          <div class="post_comments"><%= render 'post_comments/post_comment', book: @book %></div>
ã€€ã€€        </td>
            <td>
            <%= form_with model:[@book,@post_comment], local:false do |f| %>
            <%= f.text_area :comment, size:"30x3" %>
            <%= f.submit 'é€ä¿¡'%>
            <% end %>
            </td>
              <td class="view-count">ðŸ‘€æ•°: <%= @book_detail.view_counts.count %></td>
        </tr>
      </table>
    </div>
  </div>
</div>